* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 0;
  isolation: isolate;

  & #noise {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: contrast(1000%) brightness(200%);
    background:
      linear-gradient(to top, hsl(90deg 5% 5% / 30%), transparent),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  & #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsl(90deg 7% 15%);
    mix-blend-mode: multiply;
  }
}

#mainPanel {
  position: relative;
  z-index: 1;
  padding: 2rem;
  background-color: hsl(90deg 100% 90% / 10%);
  backdrop-filter: blur(1px) brightness(150%) grayscale(0.5);
  border-radius: 2rem;
  box-shadow: 0px 4px 20px 2px hsl(90deg 80% 20% / 20%), 0px 1px 4px 1px hsl(90deg 80% 20% / 50%), inset 0px -2px 8px -2px hsl(0deg 0% 100% / 10%), inset 0px 1px 2px -1px hsl(0deg 0% 100% / 2%);
  overflow: hidden;

  & h1 {
    color: hsl(221, 82%, 89%);
  }

  &:before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-image: radial-gradient(closest-side, hsl(90deg 90% 90% / 10%), transparent);
    transform: translate(-50%, -50%);
    top: var(--cursor-y);
    left: var(--cursor-x);
  }
}